.accordion
  background-color: #fff
  padding-left: 50px
  padding-right: 50px
  margin-bottom: 40px
  border-radius: 3px
  cursor: pointer
  &:last-child
    margin-bottom: 0
  +md-block
    padding-left: 25px
    padding-right: 25px
  +xs-block
    padding: 0
    background: transparent

  &--faq
    margin-bottom: 10px
    +xs-block
      padding-left: 15px
      padding-right: 15px
    .accordion__inner
      border: none
      padding-top: 16px
      padding-bottom: 14px
    .accordion__title
      font-size: 22px
      line-height: 28px
      margin-bottom: 0
      +xs-block
        font-size: 18px
        line-height: 1.3
    .accordion__content
      border: none
      padding-top: 15px
  &--secondary
    position: relative
    background-color: transparent
    margin-bottom: 10px
    padding-left: 0
    padding-right: 0
    &::before
      content: ''
      position: absolute
      top: -40px
      left: 0
      width: 80px
      height: 80px
      background-size: cover
      background-repeat: no-repeat
    +xs-block
      padding-left: 0
      padding-right: 0
    .accordion__inner
      border: none
      padding-left: 95px
      padding-right: 30px
      padding-top: 35px
      padding-bottom: 15px
      &::before
        content: ''
        position: absolute
        top: 0
        left: 95px
        right: 60px
        height: 1px
        background-color: $red
      &::after
        top: 0
        transform: none
      +xs-block
        padding-left: 0
        padding-top: 60px
    .accordion__title
      font-size: 22px
      line-height: 28px
    .accordion__content
      display: block
      padding-left: 95px
      color: $white
      +xs-block
        padding-left: 0

    .accordion__title
      margin-bottom: 0
      color: $white
    .accordion__content
      padding-top: 15px
      border: none
  &--secondary-lamp::before
    background-image: url(../img/icons/icon-lamp@2x.png)
  &--secondary-trophy::before
    background-image: url(../img/icons/icon-trophy@2x.png)

.accordion__inner
  position: relative
  display: flex
  padding-top: 25px
  padding-bottom: 25px
  &::after
    content: ""
    background-image: url(../img/controls/accordion-arrow.png)
    position: absolute
    right: 0
    top: calc(50%)
    transform: translateY(-50%)
    width: 29px
    height: 15px
    background-size: cover
    transition: transform 250ms ease
  &.selected::after
    transform: rotate(180deg)
  +md-block
    padding-top: 20px
    padding-bottom: 20px
  +xs-block
    padding: 0
    border-bottom: 1px solid $white

.accordion__number
  font-size: 60px
  letter-spacing: 3px
  color: $red
  flex: 0 0 100px
  +md-block
    flex: 0 0 75px
    font-size: 52px
  +xs-block
    display: none

.accordion__header
  flex: 1 1 auto
  padding-right: 50px

.accordion__title
  margin: 0
  margin-bottom: 25px
  font-size: 24px
  line-height: 30px
  color: #303030
  font-family: $geometriabold
  font-weight: 700
  +md-block
    font-size: 20px
  +xs-block
    color: $white
    font-size: 16px
    line-height: 1.35

.accordion__info
  display: flex
  +xs-block
    display: block

.accordion__info-column
  margin-right: 40px
  &:last-child
    margin-right: 0
  +md-block
    margin-right: 40px
  +xs-block
    margin-right: 0
    margin-bottom: 20px

.accordion__info-header
  display: block
  color: #999999
  font-family: $geometriabold
  font-size: 14px
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 10px
  +md-block
    font-size: 13px
  +xs-block
    font-size: 12px

.accordion__info-time
  display: block
  color: #dc291a
  font-family: $geometriabold
  font-size: 14px
  font-weight: 700
  text-transform: uppercase
  +md-block
    font-size: 13px

.accordion__content
  display: none
  border-top: 1px solid #dddddd
  padding-top: 25px
  padding-bottom: 25px
  color: #303030
  +xs-block
    border: none
    color: $white

.accordion__content-title
  font-family: $geometriabold
  font-size: 18px
  margin-bottom: 0.5em
  line-height: 1.3
  font-weight: 700

.accordion__text
  font-size: 18px
  line-height: 24px
  margin-bottom: 25px
  &:last-child
    margin-bottom: 0
  +md-block
    font-size: 16px
    line-height: 1.4
  &--faq
    font-size: 16px

.accordion__module
  display: flex
  margin-bottom: 30px
  &:first-child
    margin-top: 20px
  &:last-child
    margin-bottom: 0


.accordion__module-number
  flex: 0 0 100px
  font-size: 18px
  line-height: 24px
  color: $red
  +md-block
    flex: 0 0 75px
    font-size: 16px
    line-height: 1.4
  +xs-block
    flex: 0 0 25px


.accordion__module-title
  flex: 1 1 auto
  font-size: 18px
  line-height: 24px
  +md-block
    font-size: 16px
    line-height: 1.4

