.section-1
  &__main-title_animation
    animation: bounce 0.7s ease
  &__title_animation
    animation: bounce 0.8s ease
  &__text_animation
    animation: bounce 0.9s ease
  &__digits_animation
    animation: bounce 1s ease


@keyframes bounce 
  0% 
    opacity: 0
    -webkit-transform: translate(-10%,0px)
  100% 
    opacity: 1
    -webkit-transform: translate(0,0px)
@keyframes timeEmergence
  from
    opacity: 0

  to
    opacity: 1

@keyframes emergence
  from
    opacity: 0
    transform: translateX(-3%)
  to
    opacity: 1
    transform: translateX(0px)

