.authors
  padding-top: 40px
  padding-bottom: 40px

.authors__header
  position: relative
  padding-top: 26px
  font-size: 36px
  line-height: 1.3
  font-family: $geometriabold
  font-weight: 700
  margin: 0
  margin-bottom: 45px
  &::before
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 82px
    height: 8px
    background-color: $red

.authors__list
  +row-flex

.authors__wrapper
  color: #fff
  text-decoration: none
  &:hover
    color: #eee
  +col
  +size(6)
  +md-block
    +size(12)
    margin-bottom: 60px
    &:last-child
      margin-bottom: 0


.authors__item
  display: flex
  align-items: flex-start
  +xs-block
    display: block

.authors__item-inner
  flex: 1 1 auto

.authors__img
  flex: 0 0 auto
  margin-right: 30px
  height: auto
  +xs-block
    margin-bottom: 40px


.authors__name
  display: block
  position: relative
  font-size: 36px
  line-height: 1.3
  margin: 0
  padding-top: 20px
  margin-top: 0
  margin-bottom: 20px
  font-family: $geometriabold
  font-weight: bold
  &::before
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 82px
    height: 8px
    background-color: $red
  +md-block
    font-size: 32px
    line-height: 1.4

.authors__position
  display: block
  font-size: 18px
  line-height: 1.3
  +md-block
    font-size: 16px
    line-height: 1.4
