.banner {
  &__content {
    padding: 0 15px;
    text-align: center;
    line-height: 33px;
  }
  &__desc {
    margin-right: 32px;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__btn {
    padding: 5px 20px;
    font-size: 13px;
    font-weight: bold;
    background-color: #e30513;
  }
  &--fixed_top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 35px;
    background-color: #fff;
    color: #000;
  }
}
.banner--fixed_top+.page-header {
  margin-top: 30px;
}
@media #{$tablet-widths} {
  .banner__content {
    padding: 5px 10px;
    line-height: 125%;
  }
  .banner__desc {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 6px;
  }
  .banner--fixed_top {
    height: initial;
  }
  .banner--fixed_top+.page-header {
    margin-top: 38px;
  }
}
@media screen and (max-width: 479px) {
  .banner__desc {
    display: block;
  }
  .banner--fixed_top+.page-header {
    margin-top: 62px;
  }
}