.button
  display: inline-block
  font-size: 16px
  line-height: 1.25
  padding-right: 25px
  padding-left: 25px
  padding-top: 15px
  padding-bottom: 14px
  background-color: $red
  border-radius: 25px 
  font-family: $geometriabold 
  font-weight: 700 
  color: white
  text-decoration: none
  text-align: center
  border: none
  transition: background 125ms
  cursor: pointer
  box-sizing: border-box
  &:hover
    background-color: #d70511
  &:focus
    background-color: #c50510
  &--alternative
    background-color: #bbbbbb
  &_disabled
    background-color: #bbbbbb
    &:hover
      background-color: #bbbbbb