.card
  position: absolute
  top: 0
  left: 50%
  box-sizing: border-box
  visibility: hidden
  display: none
  border-radius: 3px
  background-color: $white
  padding-top: 25px
  padding-bottom: 25px
  padding-right: 25px
  padding-left: 25px
  width: 50%
  &--show
    display: block
    opacity: 1
    visibility: visible

.card__title
  font-size: 16px
  line-height: 1.5
  font-family: $geometriabold
  font-weight: bold
  color: $black
  margin-top: 0

.card__items
  list-style: none
  padding: 0
  margin: 0
  & + .card__paragraph
    margin-top: 20px

.card__item
  font-family: $geometria
  font-size: 16px
  line-height: 1.5
  color: $black
  margin-bottom: 14px
  &:last-child
    margin-bottom: 0

.card__paragraph
  font-family: $geometria
  font-size: 18px
  line-height: 1.3
  color: $black
  margin-top: 0
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0
  +md-block
    font-size: 16px
    line-height: 1.4

.card__format
  position: relative
  padding-left: 70px
  margin-bottom: 25px
  min-height: 40px
  &:last-child
    margin-bottom: 0
  &::before
    content: ""
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    background-color: transparent
    background-repeat: no-repeat
    background-size: contain
  &.card__format--video::before
    background-image: url(../img/icons/icon-video.svg)
    width: 46px
    height: 39px
  &.card__format--audio::before
    background-image: url(../img/icons/icon-sound.svg)
    width: 33px
    height: 49px
  &.card__format--text::before
    background-image: url(../img/icons/icon-files.svg)
    width: 43px
    height: 43px
  &.card__format--auction::before
    background-image: url(../img/icons/icon-auction.svg)
    width: 43px
    height: 43px
  &.card__format--documents::before
    background-image: url(../img/icons/icon-documents.svg)
    width: 43px
    height: 43px

.card__format-name
  display: block
  font-family: $geometriabold
  font-weight: bold
  color: $red
  line-height: 1.25
  text-transform: uppercase
  margin-bottom: 5px
  font-size: 14px

.card__format-description
  font-family: $geometria
  line-height: 1.5
  font-size: 16px
  margin-bottom: 20px
  color: $black
  margin-top: 0
  color: $black
  &:last-child
    margin-bottom: 0

.card__img
  width: 100%
  height: auto

.card__time-row
  display: flex
  padding-top: 8px
  padding-bottom: 6px
  border-top: 1px solid #aaaaaa
  &:last-child
    padding-bottom: 0


.card__time-column
  text-transform: uppercase
  line-height: 1.25
  font-family: $geometriabold
  font-weight: bold
  color: $red
  font-size: 12px
  &--header
    width: 39%
    padding-right: 20px

.card__certificate
  width: 100%
  height: auto

.card__video-wrapper
  position: relative
  margin-bottom: 20px
  padding-top: 56.25%

.card__video
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100%
  height: 100%


@media #{$tablet-widths}
  .card
    position: static
    width: 100%
    max-width: none
    padding-top: 25px
    padding-bottom: 25px
    padding-left: 15px
    padding-right: 15px
    margin-bottom: 25px
    transform: none
    &__item
      font-size: 14px
      line-height: 1.25

    &--section-2 .card__counter
      width: 35px
      font-size: 14px
    &--secondary
      padding-top: 25px
      padding-bottom: 25px
      padding-left: 15px
      padding-right: 15px
    &--secondary .card__paragraph,
    &--secondary .card__item,
    &--secondary .card__format-name,
    &--secondary .card__format-description
      font-size: 14px
      line-height: 1.25

  .card__time-row
    display: block

  .card__time-column
    width: 100%
    padding-right: 0
