.control-button
  display: none
  position: absolute
  font-size: 0
  top: 50%
  background-image: url(../img/icons/icon-arrow-left.svg)
  width: 37px
  height: 71px
  background-color: transparent
  background-repeat: no-repeat
  border: none
  outline: none
  cursor: pointer
  z-index: 1000
  &--show
    display: block
  &--left
    left: 2.5%
    transform: translateY(-50%)
    transition: left 0.125s 
    &:hover
      left: 2%

  &--right
    right: 2.5%
    transition: right 0.125s 
    transform: translateY(-50%) rotate(180deg)
    &:hover
      right: 2%


@media #{$tablet-widths}
  .control-button
    display: none


@media #{$ultra-wide-desktop-widths}
  .control-button
    &--left
      left: 5%
      &:hover
        left: 4.5%
    &--right
      right: 5%
      &:hover
        right: 4.5%
