.format
  padding-top: 80px
  padding-bottom: 40px

.format__header
  position: relative
  padding-top: 26px
  font-size: 36px
  line-height: 1.3
  font-family: $geometriabold
  font-weight: 700
  margin: 0
  margin-bottom: 45px
  &::before
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 82px
    height: 8px
    background-color: $red

.format__description
  font-size: 18px
  line-height: 1.3
  margin-bottom: 45px
  +md-block
    font-size: 16px
    line-height: 1.4
