.form-card
  background-color: #efefef
  border-radius: 3px
  display: flex
  +md-block
    display: block
  &__note
    color: #000000
    font-size: 18px
    line-height: 1.3
    +md-block
      font-size: 16px
      line-height: 1.4
  &__alert
    font-family: $geometriabold
    font-weight: bold
    color: $red

.form-card__program
  padding-top: 30px
  padding-left: 30px
  padding-bottom: 30px
  width: 50%
  padding-right: 15px
  +md-block
    width: 100%

.form-card__promo
  background-color: $white
  width: 50%
  z-index: 10
  padding-top: 30px
  padding-bottom: 30px
  +md-block
    width: 100%

.form-card__title
  font-size: 24px
  line-height: 1.3
  font-family: $geometriabold
  font-weight: 700
  color: $black
  position: relative
  margin-top: 0
  text-align: left
  +md-block
    font-size: 22px
    line-height: 1.4

.form-card__themes
  list-style: none
  margin: 0
  padding: 0
  margin-bottom: 25px

.form-card__theme
  font-size: 18px
  line-height: 1.3
  color: #000
  position: relative
  padding-left: 35px
  margin-bottom: 15px
  &::before
    position: absolute
    content: ""
    left: 0
    top: 2px
    width: 20px
    height: 20px
    background-color: transparent
    background-repeat: no-repeat
    background-size: contain
    background-image: url(../img/icons/icon-check.svg)
  +md-block
    font-size: 16px
    line-height: 1.4

.form-card__numbers-wrapper
  padding-left: 15px
  padding-right: 15px
  margin-bottom: 15px

.form-card__numbers
  list-style: none
  margin: 0
  padding: 0
  display: flex
  flex-direction: column
  margin-bottom: 5px

.form-card__number
  color: #033333
  font-size: 18px
  line-height: 1.3
  font-family: $geometriabold
  text-transform: uppercase
  text-align: center
  margin-bottom: 15px

.form-card__highlight
  color: $red
  font-size: 58px
  line-height: 1.3
  text-align: center
  width: 100%
  display: block

.form-card__numbers-description
  margin: 0
  color: #033333
  font-size: 14px
  line-height: 1.2
  font-family: $geometriabold
  text-align: center

.form-card__special-offer
  padding-top: 12px
  padding-bottom: 10px
  text-align: center
  background-color: #333333
  font-size: 18px
  line-height: 1.3
  color: $white
  font-family: $geometriabold
  margin-bottom: 30px
  +md-block
    font-size: 16px
    line-height: 1.4

.form-card__cost
  text-align: center

.form-card__cost label
  position: relative
  min-width: 120px
  font-size: 48px
  line-height: 1.3
  color: $black
  font-family: $geometriabold
  text-align: center
  display: inline-block
  margin-bottom: 20px

.form-card__currency
  font-style: normal

.form-card__button
  display: block
  margin-right: auto
  margin-left: auto
  width: 100%
  max-width: 260px
  font-size: 18px
  line-height: 1.3
