.red
  color: $red
.error
  color: $red

.c-course
  display: block

  &__order
    margin-top: 40px
    &_link
      display: inline-block
      a
        font-size: 18px
        +text-uppercase
        &.active
          font-weight: bold
          text-decoration: underline
    &_all
      display: block
      margin-top: 20px
      ul
        li
          list-style: square
          color: $red
          font-size: 28px
          span
            +text-uppercase
            color: $black
            font-size: 18px
    &_parts
      display: block
      margin-top: 20px
      ul
        li
          list-style: none
          label
            color: $black
            font-size: 18px

    &_actions
      display: block
      margin-top: 40px
      &_cost
        display: inline-block
      &_btn
        display: inline-block
        margin-left: 80px
