.hamburger
  display: none
  position: relative
  margin-top: 70px
  box-sizing: content-box
  padding: 15px
  width: 30px
  height: 30px
  background: transparent
  border: none
  margin-right: -15px
  +md-block
    display: flex
    justify-content: center
    align-items: center
  &--active
    .hamburger__line
      background: none
      transition: background-color .3s
      &::before
        transform: rotate3d(0,0,1,45deg)
        top: 0
        transition: top .3s,transform .3s .3s
      &::after
        transform: rotate3d(0,0,1,-45deg)
        top: 0
        transition: top .3s,transform .3s .3s

.hamburger__line
  position: relative
  background-color: $red
  height: 3px
  width: 100%
  transition: background-color .3s
  &::before
    content: ""
    position: absolute
    left: 0
    top: 10px
    width: 100%
    height: 3px
    background-color: $red
    transform-origin: 50% 50%
    transition: top .3s .3s,transform .3s
  &::after
    content: ""
    position: absolute
    left: 0
    top: -10px
    width: 100%
    height: 3px
    background-color: $red
    transition: top .3s .3s,transform .3s
