.info-item
  +col()
  +size(3)
  +md-block
    +size(6)
    margin-bottom: 60px
  +xs-block
    +size(12)

.info-item__name
  display: block
  position: relative
  padding-bottom: 22px
  margin-bottom: 18px
  font-size: 14px
  line-height: 1.3
  letter-spacing: 0.7px
  text-transform: uppercase
  font-family: $geometriabold
  font-weight: 700
  color: #aaaaaa
  &::after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    height: 2px
    width: 100%
    background: $red

.info-item__count-wrapper
  display: flex
  justify-content: space-between

.info-item__count
  display: inline-block
  font-size: 30px
  line-height: 1.3
  letter-spacing: 1.5px
  margin-bottom: 10px
  font-family: $geometriabold
  font-weight: 700
  &--secondary
    color: #aaa
    text-decoration: line-through

.info-item__description
  display: block
  font-size: 14px
  line-height: 1.7
  letter-spacing: 0.7px
  text-transform: uppercase
  font-family: $geometriabold
  font-weight: 700
  &--highlight
    color: $red
