.intro
  display: flex
  flex-wrap: wrap
  margin-top: 60px
  +md-block
    margin-top: 80px
    padding-top: 60px
  &--header-fixed
    margin-top: 0
    padding-top: 160px

.intro__description
  width: 100%
  margin-bottom: 40px

.intro__info-list
  width: 100%

.intro__type
  display: inline-block
  position: relative
  color: #aaaaaa
  font-size: 18px
  line-height: 1.3
  text-transform: uppercase
  font-family: $geometriabold
  font-weight: bold
  letter-spacing: 0.9px
  padding-bottom: 32px
  margin-bottom: 25px
  &::after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 80px
    height: 8px
    background-color: $red
  +md-block
    font-size: 16px
    line-height: 1.4
  +xs-block
    font-size: 14px

.intro__header
  font-size: 54px
  line-height: 1.3
  margin: 0
  margin-bottom: 25px
  +md-block
    font-size: 36px
    font-family: $geometriabold
    font-weight: bold
  +xs-block
    font-size: 24px



.intro__text
  font-size: 18px
  line-height: 1.5
  margin-bottom: 50px
  width: 100%
  max-width: 800px
  +md-block
    font-size: 16px
    line-height: 1.4
