.landing-form
  max-width: 840px
  margin-right: auto
  margin-left: auto
  display: flex
  justify-content: center
  margin-top: 30px

  .checkbox
    display: none
    &:checked + .checkbox-label
      xxxcolor: $black
    &:checked + .checkbox-label::before
      border: 1px solid $red
      background: url("../img/controls/checkbox-mark.png") 50% 50% no-repeat, $red
    &:disabled + .checkbox-label::before
      border: 1px solid $gray
      background: url("../img/controls/checkbox-mark.png") 50% 50% no-repeat, $gray

  .checkbox-label
    vertical-align: top
    font-size: 14px
    display: inline-block
    user-select: none
    cursor: pointer
    position: relative
    padding-left: 35px
    &::before
      position: absolute
      content: ""
      display: inline-block
      left: 0px
      top: 2px
      vertical-align: middle
      width: 17px
      height: 17px
      box-sizing: border-box
      background: url("../img/controls/checkbox-mark.png"), $white
      border: 2px solid $black
      border-radius: 4px
      margin: 0 20px 2px 2px
      transition: background, border 0.3s
    .small
      font-size: 85% !important

.landing-form__item
  text-align: left
  display: none
  width: 100%
  max-width: 400px
  &--show
    display: block

.landing-form__title
  font-size: 24px
  line-height: 1.25
  color: $white
  margin-bottom: 40px
  margin-top: 0px

.landing-form__title-text
  position: relative
  &::after
    content: ""
    position: absolute
    left: 0
    bottom: -15px
    width: calc(100% + 50px)
    max-width: 400px
    height: 2px
    background-color: $red

.landing-form__input-wrapper
  margin-bottom: 8px
  &:last-child
    margin-bottom: 0

.landing-form__input
  width: 100%
  height: auto
  background-color: transparent
  border-radius: 0
  padding: 5px
  border: none
  border-bottom: 1px solid #cccccc
  font-family: $geometria
  font-size: 18px
  line-height: 1.2
  transition: border 125ms
  box-shadow: none
  &:focus
    outline: none
    border-bottom: 1px solid $red
  &:focus + .landing-form__label
    color: $red

.landing-form
  &__label
    font-family: $geometriabold
    font-size: 11px
    line-height: 1.2
    text-transform: uppercase
    color: #999999
    transition: color 125ms
    &_checkbox
      display: inline
      position: relative
      padding-left: 20px
  &__link
    text-decoration: underline
    color: $red
    &:hover
      text-decoration: underline
      color: $red

@media #{$tablet-widths}
  .landing-form
    display: block

  .landing-form__item
    width: 100%
    margin-right: auto
    margin-left: auto
    margin-bottom: 50px



@media #{$mobile-widths}
  .landing-form__title
    font-size: 16px
    font-family: $geometriabold
    margin-bottom: 30px

  .landing-form__title-text
    &::after
      bottom: -10px
    
// bootstrap form control
.help-block
  font-weight: bold
  small,
  .small
    display: block
    font-size: 100%
    font-weight: bold

.has-feedback
  small,
  .small
    display: block
    font-size: 100%
    font-weight: bold
    color: #a94442
// bootstrap form control