.list
  position: relative
  margin: 0 auto
  &--additional-info .list__btn
    padding-top: 0
    padding-bottom: 20px
  &--additional-info .list__btn--active
    &::after
      bottom: 10px
  &--question-modal .list__btn
    width: 100%
    color: $black
    padding-top: 10px
    padding-bottom: 10px
    &::after
      bottom: 0
    &:hover
      color: rgba(51, 51, 51, 0.9)
      &::after
        width: 100%

.list__btn-wrapper
  position: relative

.list__additional-info
  position: absolute
  font-family: $geometriabold
  font-weight: bold
  font-size: 12px
  line-height: 1.25
  text-transform: uppercase
  color: $gray
  left: -80px
  top: 2px


.list__btn
  position: relative
  max-width: 380px
  padding: 0
  font-family: $geometriabold
  font-weight: bold
  line-height: 1.3
  width: 45%
  font-size: 24px
  padding-top: 16px
  padding-bottom: 16px
  background-color: transparent
  border: none
  outline: none
  color: white
  text-align: left
  cursor: pointer
  transition: all 125ms ease-in
  &:focus
    color: $red
  &:hover
    color: darken($red, 10%)
  &--active
    color: $red
    &:hover
      color: $red
      cursor: default



.list__date
  font-size: 12px
  color: $gray
  display: block
  font-family: $geometria
  font-weight: 400
  line-height: 1.25



@media #{$desktop-widths}
  .list
    &--question-modal .list__btn
      width: 47%
      &--active
        &::after
          bottom: 0px

  .list__btn
    font-size: 18px
  

@media #{$tablet-widths}
  .list
    margin-top: 30px
    margin-bottom: 20px
    padding-left: 0
    padding-right: 0
    position: relative
    &--additional-info
      margin-top: 35px
    &--additional-info .list__btn
      padding-bottom: 30px
    &--additional-info .list__item::after
      bottom: 15px
    &--additional-info .list__item::before
      bottom: 15px
    &--additional-info .list__btn::before
      bottom: 5px
    &--additional-info .list__btn--active::before
      bottom: -10px

  .list__item
    position: relative
    &::after
      content: ""
      position: absolute
      width: calc(50% - 15px)
      height: 1px
      background-color: $petersburg-sky
      bottom: 0
      left: 0
    &::before
      content: ""
      position: absolute
      width: calc(50% - 15px)
      height: 1px
      background-color: $petersburg-sky
      bottom: 0
      right: 0
    &--without-borders::before
      content: none
    &--without-borders::after
      content: none
    &:last-child .card--show
      margin-bottom: 0

  .list__btn
    font-size: 16px
    width: 100%
    max-width: 100%
    z-index: 5
    &::before
      content: ""
      position: absolute
      width: 20px
      height: 20px
      bottom: -10px
      z-index: 10
      left: 50%
      border-radius: 50%
      transform: translateX(-50%)
      background-image: url(../img/controls/arrow-transparent.png)
    &--active
      transform: none
      &::before
        content: ""
        position: absolute
        width: 20px
        height: 20px
        bottom: -10px
        z-index: 10
        left: 50%
        transform: translateX(-50%)
        background-image: url(../img/controls/arrow-red.png)
      &::after
        content: none
    &:hover::after
      content: none

  .list__additional-info
    position: static
    font-size: 11px
    &--active
      transform: none