.main-image
  position: absolute
  box-sizing: border-box
  width: 55%
  display: flex
  flex-direction: column
  max-width: 1400px
  height: calc(100vh - 100px)
  &::after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(to top left, hsla(330, 0%, 0%, 1), cubic-bezier(0.4, 0.4, 0.15, 1), transparent), linear-gradient(to top right, hsla(330, 0%, 0%, 1), cubic-bezier(0.4, 0.4, 0.15, 1), transparent)

  &--section1
    right: 0
    bottom: 0
  &--section1 .main-image__img
    object-fit: contain
    object-position: center
    font-family: 'object-fit: contain; object-position: center'
  &--section3
    left: 0
    bottom: 0
    width: 50%
  &--section3 .main-image__img
    object-fit: contain
    object-position: 50% 100%
    font-family: 'object-fit: contain; object-position: 50% 100%;'

.main-image__img
  margin-top: auto
  width: 100%
  max-width: 1400px
  height: calc(100vh - 100px)


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  .main-image
    max-width: 750px
  .main-image__img
    max-width: 750px


@media #{$tablet-widths}
  .main-image
    position: relative
    height: auto
    margin-top: 20px
    width: 100%
    max-width: 1024px
    align-content: center
    justify-content: center
    &::after
      background: linear-gradient(to top, hsla(330, 0%, 0%, 1), cubic-bezier(0.35, 0.35, 0, 1), transparent)

  .main-image__img
    width: 100%
    height: auto
    min-height: auto
    object-fit: fill
    object-position: unset
    font-family: 'object-fit: fill; object-position: 50% 50%'


