.main-nav
  margin-left: auto
  +md-block
    display: none
    margin-left: 0
    align-self: center
    &--show
      display: block
  +xs-block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)


.main-nav__inner
  display: flex
  align-items: center
  +md-block
    display: block

.main-nav__items
  display: flex
  list-style-type: none
  margin: 0
  padding: 0
  margin-right: 30px
  +md-block
    display: block
    margin-right: 0

.main-nav__item
  list-style: none
  margin-right: 20px
  &:last-child
    margin-right: 0
  +lg-block
    margin-right: 14px
  +md-block
    margin-right: 0

.main-nav__link
  position: relative
  width: 100%
  text-decoration: none
  color: #ffffff
  font-family: $geometriabold
  transition: color 125ms
  font-size: 12px
  line-height: 1.25
  letter-spacing: 0.6px
  text-transform: uppercase
  font-weight: 400
  &:hover
    color: $red
  &:focus
    color: $red
  +md-block
    display: block
    font-size: 24px
    text-transform: none
    padding-top: 15px
    padding-bottom: 15px
  +xs-block
    font-size: 16px
    padding-top: 10px
    padding-bottom: 10px

.main-nav__button
  font-size: 16px
  text-transform: none
  min-width: 180px
  opacity: 1
  transition: opacity 125ms
  &:hover
    background-color: #d70511
  &:focus
    background-color: #c50510
  +md-block
    margin-top: 20px
    width: 100%
    font-size: 24px
  +xs-block
    font-size: 16px
