.modal
  display: none
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 80%
  height: 80%
  max-width: 1220px
  max-height: 100%
  z-index: 2000
  &--show
    display: block
  +xs-block
    width: 100%
    height: 100%

.modal__overlay
  display: none
  z-index: 1000
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  &--show
    display: block

.modal__close-button
  position: absolute
  top: -40px
  right: -35px
  line-height: 1.25
  font-size: 40px
  text-align: center
  cursor: pointer
  color: white
  z-index: 1
  &:hover
    opacity: 0.5
  +xs-block
    font-size: 60px
    top: 0
    right: 15px
    color: $black

.modal__content
  position: absolute
  display: flex
  background-color: $white
  padding: 40px
  top: 0
  left: 0
  width: 100%
  height: 100%
  color: #000
  overflow: auto
  border-radius: 3px
  +md-block
    padding: 25px
    display: block
  +xs-block
    padding: 15px


.modal__content-left
  flex: 0 0 325px
  margin-right: 35px
  +md-block
    margin-right: 0
    margin-bottom: 25px

.modal__author-img
  display: block

.modal__author-name
  position: relative
  display: block
  font-size: 36px
  line-height: 1.3
  margin: 0
  padding-top: 20px
  margin-top: 30px
  margin-bottom: 20px
  &::before
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 82px
    height: 8px
    background-color: $red
  +md-block
    font-size: 32px
    margin-bottom: 10px
    font-family: $geometriabold
    font-weight: 700

.modal__author-position
  font-size: 18px
  line-height: 1.3
  color: #999
  +md-block
    font-size: 16px
    line-height: 1.4

.modal__content-right


.modal__author-description
  font-size: 18px
  line-height: 1.3
  +md-block
    font-size: 16px
    line-height: 1.4


