.page-header
  min-height: 100px
  z-index: 100
  transition: background-color 200ms ease-in
  +md-block
    position: fixed
    top: 0
    right: 0
    left: 0
    background-color: black
    min-height: 50px
    width: 100%
    &--full-width
      z-index: 10000
      height: 100%
      bottom: 0
      & .page-header__content
        align-items: flex-start
      & .page-wrapper
        height: 100%
      & .page-header__logo-img
        margin-top: 8px

  &__fixed-top
    position: fixed
    top: 0
    background-color: black
    width: 100%
    transition: background-color 200ms ease-in-out

  &__content
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 20px
    padding-bottom: 20px
    +md-block
      padding-top: 10px
      padding-bottom: 10px
      height: 100%

  &__logo
    width: 80px
    +md-block
      width: 60px

  &__logo-img
    width: 100%
    height: auto

  &__humburger
    +md-block
      margin-top: 0

