.preloader
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: #000000
  z-index: 9999
  transition: 500ms all
  opacity: 1
  visibility: visible
  &--done
    opacity: 0
    visibility: hidden

.preloader__loader 
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

svg polygon
  stroke-dasharray: 17
  animation: dash 2.5s cubic-bezier(.35,.04,.63,.95) infinite

@keyframes dash 
  to
    stroke-dashoffset: 136
