.programme
  padding-top: 40px
  padding-bottom: 40px

.programme__header
  position: relative
  padding-top: 26px
  font-size: 36px
  line-height: 1.3
  font-family: $geometriabold
  font-weight: 700
  margin: 0
  margin-bottom: 45px
  &::before
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 82px
    height: 8px
    background-color: $red

.programme__button
  align-self: flex-end