.questions
  display: none
  &__title
    display: none
  &__description > p
    color: $white

  
@media #{$tablet-widths}
  .questions
    box-sizing: border-box
    display: block
    margin: 0 auto
    padding: 0
    padding-bottom: 20px
    max-width: 600px
    list-style-type: none
    &__title
      color: $white
      display: block
      font-size: 16px
      text-align: center
      margin-bottom: 30px
    &__btn
      position: relative
      background: #000
      text-align: left
      width: 100%
      border: none
      color: #fff
      padding-top: 10px
      padding-bottom: 10px
      padding-left: 0
      padding-right: 20px
      line-height: 1.25
      border-top: 1px solid #fff
      outline: none
      &::before
        background: url(../img/controls/arrow-transparent.png) no-repeat
        content: ""
        position: absolute
        width: 20px
        height: 20px
        z-index: 10
        right: 0
        top: 25%
        margin-top: 0
        border-radius: 50%
    &__btn--active:before
      transform: rotate(180deg)
    &__description
      color: $white
      display: none
      & ul 
        padding: 0
        padding-left: 20px
        margin: 0
        margin-bottom: 1em
    &--show
      display: block
      animation: show 0.5s ease-in-out
    &__item:last-child
      border-bottom: 1px solid #fff
    a
      color: #fff