.recommend
  padding-top: 40px
  padding-bottom: 40px

.recommend__header
  position: relative
  padding-top: 26px
  font-size: 36px
  line-height: 1.3
  font-family: $geometriabold
  font-weight: 700
  margin: 0
  margin-bottom: 45px
  &::before
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 82px
    height: 8px
    background-color: $red

.recommend__description
  font-size: 18px
  line-height: 1.3
  margin-bottom: 100px
  +md-block
    font-size: 16px
    line-height: 1.4

.recommend__list
  +row-flex
  justify-content: space-between

.recommend__item
  +col
  +size(6)
  +md-block
    +size(12)
    margin-bottom: 60px
