.switch
  margin-left: auto
  margin-right: auto
  display: inline-flex
  position: relative
  padding: 3px
  border-radius: 25px
  background: #bbbbbb
  min-width: 400px
  box-sizing: border-box

.switch__highlight
  width: 50%
  position: absolute
  top: 3px
  left: 0
  bottom: 3px
  background: $red
  border-radius: 50px
  transition: .3s

.switch__button
  position: relative 
  padding-right: 25px
  padding-left: 25px
  padding-top: 15px
  padding-bottom: 13px
  font-weight: bold 
  font-size:  16px 
  color: $black
  background: none 
  border-radius: 25px 
  border: 0 
  outline: none 
  transition: 0.3s 
  cursor: pointer 
  width: 50%

  &:hover,
  &:focus,
  &.is-active
    color: white

@media #{$mobile-widths}
  .switch
    width: 100%
    min-width: auto
    max-width: 400px

  .switch__button
    font-size: 14px
    padding-right: 20px
    padding-left: 20px
    padding-top: 13px
    padding-bottom: 11px
  
  

