<section class="about" id="about"> 
    <h2 class="about__header">О курсе</h2>
    <div class="about__description user-content">
        <p>
            Банкротное право считается одной из самых сложных областей права, а законодательство о банкротстве
            отличается своим комплексным характером, объединяя нормы частного и публичного, материального и
            процессуального права.
        </p>
        <p>
            LF Академия совместно с ведущими экспертами подготовила специализированный курс, который поможет
            разобраться во всех тонкостях эффективного ведения процедуры несостоятельности (банкротства).
        </p>
        <p>
            Рустем Тимурович Мифтахутдинов проводит комплексное исследование наиболее важных институтов банкротного
            права и освещает актуальные проблемы, с которыми чаще всего сталкиваются практикующие юристы при
            разрешении споров в рамках банкротного дела.
        </p>
        <p>
            Олег Романович Зайцев анализирует нормы законодательства посвященные включению кредиторов в реестр,
            конкурсному оспариванию сделок должника и реабилитационным процедурам банкротства.
        </p>
    </div>
</section>