<section class="authors" id="authors">
  <h2 class="authors__header">Авторы курса</h2>
  <div class="authors__list">
    <a href="#" class="authors__wrapper" data-author="rustem">
      <article class="authors__item">
        <img src="img/miftahutdinov.png" alt="" class="authors__img">
        <div class="authors__item-inner">
          <h3 class="authors__name"><span class="word-wrap">Рустем Тимурович</span> Мифтахутдинов</h3>
          <span class="authors__position">Эксперт в области банкротного, корпоративного и гражданского права</span>

          <!-- <a href="" class="authors__link">Подробнее</a> -->
      </article>
    </a>
    <a href="#" class="authors__wrapper" data-author="oleg">
      <article class="authors__item">
        <img src="img/zaycev.png" alt="" class="authors__img">
        <div class="authors__item-inner">

          <h3 class="authors__name"><span class="word-wrap">Олег Романович</span> Зайцев</h3>
          <span class="authors__position">Эксперт в области банкротства и корпоративного права
          </span>
        </div>
        <!-- <a href="" class="authors__link">Подробнее</a> -->
      </article>
    </a>
  </div>
</section>

<div class="modal" id="rustem">
  <span class="modal__close-button">×</span>
  <div class="modal__content">
    <div class="modal__content-left">
      <img src="img/miftahutdinov.png" alt="" class="modal__author-img">
      <span class="modal__author-name">Рустем <br> Тимурович <br> Мифтахутдинов</span>
      <span class="modal__author-position">Эксперт в области банкротного, корпоративного и гражданского права</span>
    </div>
    <div class="modal__content-right">
      <div class="modal__author-description user-content">
        <p>Кандидат юридических наук, доцент МГЮА им. О.Е. Кутафина, начальник управления по сопровождению процедур
          банкротства и взысканию проблемной задолженности Департамента судебной практики ПАО "НК "Роснефть", судья
          Высшего Арбитражного Суда Российской Федерации (в отставке), член президиума ПДАУ «Российский арбитражный
          центр» и арбитр МКАС. Более 20 лет в юридической профессии, имеет первый квалификационный класс судьи,
          преподаватель Учебного центра LF Академия.
        </p>
        <p>Опыт работы: юрист компании, помощник судьи, начальник отдела анализа и обобщения судебной практики
          Арбитражного суда Республики Татарстан, судья Арбитражного суда Республики Татарстан. Судья Высшего
          Арбитражного Суда Российской Федерации. Опыт работы судьей 9 лет (споры о банкротстве, корпоративные споры).
        </p>
        <p>Участвовал в подготовке разъяснений высших судебных инстанций по процессуальному праву, гражданскому,
          корпоративному праву и банкротству.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="oleg">
  <span class="modal__close-button">×</span>
  <div class="modal__content">
    <div class="modal__content-left">
      <img src="img/zaycev.png" alt="" class="modal__author-img">
      <span class="modal__author-name">Олег <br> Романович <br> Зайцев</span>
      <span class="modal__author-position">Эксперт в области банкротства и корпоративного права</span>
    </div>
    <div class="modal__content-right">
      <div class="modal__author-description user-content">
        <p>Кандидат юридических наук, магистр частного права, консультант Исследовательского центра частного права им.
          С.С. Алексеева при Президенте РФ, доцент Российской школы частного права, преподаватель Московской высшей
          школы социальных и экономических наук, советник руководителя юридической дирекции Агентства по страхованию
          вкладов, руководитель Банкротного клуба, до 2014 г. - ведущий советник Управления частного права Высшего
          Арбитражного Суда Российской Федерации, преподаватель Учебного центра LF Академия.

        </p>
        <p>Государственный советник юстиции 3 класса.
        </p>
        <p>Член рабочей группы при Верховном Суде РФ по подготовке постановления Пленума по банкротству граждан. Член
          Научно-консультативных советов при Арбитражных судах Московского округа и города Москвы. Член Комитета № 1
          (Банкротство и предупреждение несостоятельности организаций госсектора) Экспертно-консультационного совета при
          Росимуществе. Член подкомитета по антикризисному управлению Комитета ТПП РФ по безопасности
          предпринимательской деятельности. Член INSOL International и INSOL Europe.
        </p>
        <p>Участник подготовки разъяснений ВАС РФ и федеральных законов в сфере банкротства и корпоративного права.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal__overlay">
</div>
