<section class="buy" id="buy">
  <h2 class="buy__header">Покупка курса</h2>

  <div class="form-card">
    <div class="form-card__program">
      <p class="form-card__title">К освоению курса допускаются лица: </p>
      <ul class="form-card__themes">
        <li class="form-card__theme">имеющие среднее профессиональное и (или) высшее образование, или лица,
          получающие среднее профессиональное и (или) высшее образование</li>
      </ul>
      <p class="form-card__note"><span class="form-card__alert">Внимание:</span> лица, получающие среднее
        профессиональное и (или) высшее образование, получат удостоверение о повышении квалификации после
        получения и предоставления диплома о среднем профессиональном и (или) высшем образовании.</p>
    </div>
    <div class="form-card__promo">
      <div class="form-card__numbers-wrapper">
        <ul class="form-card__numbers">
          <li class="form-card__number">
            <span class="form-card__highlight">37</span> ак. часов
          </li>
          <li class="form-card__number">
            <span class="form-card__highlight">69</span> онлайн-лекций
          </li>
          <li class="form-card__number">
            <span class="form-card__highlight">11</span> тестов
          </li>
        </ul>
      </div>
      <div class="form-card__special-offer">+ удостоверение о повышении квалификации</div>
      <div class="form-card__cost">
        <label>
          18 000
          <i class="form-card__currency">₽</i>
        </label>
      </div>
      <button class="button form-card__button">
        Купить курс
      </button>
    </div>
  </div>
</section>
