<section class="faq" id="faq">
  <h2 class="faq__header">Вопросы</h2>
  <div class="accordion accordion--faq">
    <div class="accordion__inner">
      <div class="accordion__header">
        <h4 class="accordion__title">
          Как оплатить курс?
        </h4>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__text accordion__text--faq user-content">
        <p>● Перейдите в раздел «Покупка курса», нажав кнопку «Купить курс». </p>
        <p>● Подтвердите выбор курса.</p>
        <p>● Введите данные своей учетной записи или пройдите регистрацию на сайте LF Академии.</p>
        <p>● Подтвердите согласие с офертой и перейдите к оплате, нажав кнопку «Перейти к оплате курса». После этого вы
          будете переведены на страницу платежной системы.</p>
      </div>
    </div>
  </div>

  <div class="accordion accordion--faq">
    <div class="accordion__inner">
      <div class="accordion__header">
        <h4 class="accordion__title">
          Как строится процесс обучения?
        </h4>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__text accordion__text--faq user-content">
        <p>
          Обучение осуществляется дистанционно. Особенностями курса являются модульная структура и применение
          современных образовательных технологий: электронного обучения, учебного видео, компьютерного тестирования.
          Доступ к обучению: 24/7 из любой точки мира с любого электронного устройства, подключенного к сети Интернет.
        </p>
      </div>
    </div>
  </div>


  <div class="accordion accordion--faq">
    <div class="accordion__inner">
      <div class="accordion__header">
        <h4 class="accordion__title">
          Могу ли я смотреть онлайн-лекции без прохождения тестов?
        </h4>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__text accordion__text--faq user-content">
        <p>
          Онлайн-лекции по следующей теме курса будут доступны для изучения после успешного прохождения теста по
          предыдущей теме.
        </p>
      </div>
    </div>
  </div>


  <div class="accordion accordion--faq">
    <div class="accordion__inner">
      <div class="accordion__header">
        <h4 class="accordion__title">
          Можно ли сохранить доступ к материалам курса после завершения обучения?
        </h4>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__text accordion__text--faq user-content">
        <p>
          Доступ к материалам курса предоставляется на период его освоения (на срок обучения). Для закрепления
          полученных знаний доступ к материалам курса сохранится еще на 12 месяцев после успешного завершения обучения.
        </p>
      </div>
    </div>
  </div>


  <div class="accordion accordion--faq">
    <div class="accordion__inner">
      <div class="accordion__header">
        <h4 class="accordion__title">
          Могу ли я на время приостановить обучение?
        </h4>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__text accordion__text--faq user-content">
        <p>
          Приостановить обучение можно не более одного раза за весь период обучения. Для этого вам необходимо отправить
          соответствующий запрос на электронную почту <a href="mailto:account@lfacademy.ru" target="_blank">account@lfacademy.ru</a>. Подробнее с условиями приостановления
          обучения можно ознакомиться <a href="https://lfacademy.ru/at/1531056" target="_blank">здесь</a>.
        </p>
      </div>
    </div>
  </div>


  <div class="accordion accordion--faq">
    <div class="accordion__inner">
      <div class="accordion__header">
        <h4 class="accordion__title">
          У меня остались вопросы. Как с вами связаться?
        </h4>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__text accordion__text--faq user-content">
        <p>
          По всем вопросам, связанным с обучением в Учебном центре LF Академия вы можете обратиться по адресу
          электронной почты <a href="mailto:account@lfacademy.ru" target="_blank">account@lfacademy.ru</a> или по телефону <a href="tel:+78124490511" target="_blank">+7 (812) 449 05 11</a>.
        </p>
      </div>
    </div>
  </div>
</section>