<section class="format" id="format">
  <h2 class="format__header">Формат обучения</h2>
  <div class="format__description user-content">
    <p>
      Авторский курс Рустема Мифтахутдинова и Олега Зайцева «Банкротство: от доктрины до судебной практики. Системный
      анализ» представляет собой программу повышения квалификации, состоящую из 11 тем, включающих в себя 69
      онлайн-лекций (модулей), 11 тестов и дополнительных материалов.
    </p>
  </div>

  <div class="list">
    <div class="list__item list__item--without-borders">
      <button class="list__btn list__btn--active " data-content="section-5-card-1">Объем курса</button>
      <div class="card card--show" id="section-5-card-1">
        <p class="card__paragraph">
          37 академических часов </p>
      </div>
    </div>
    <div class="list__item ">
      <button class="list__btn " data-content="section-5-card-2">Срок обучения </button>
      <div class="card  " id="section-5-card-2">
        <p class="card__paragraph">
          Для освоения курса вам предоставляется 4 месяца. Приступить к освоению курса можно в любое время в течение
          календарного года.
        </p>
      </div>
    </div>

    <div class="list__item ">
      <button class="list__btn " data-content="section-5-card-3">Форма обучения </button>
      <div class="card  " id="section-5-card-3">
        <p class="card__paragraph">
          Заочная с применением исключительно электронного обучения в виде асинхронного онлайн-курса. Язык обучения –
          русский.
        </p>
      </div>
    </div>

    <div class="list__item ">
      <button class="list__btn " data-content="section-5-card-4">Тестирование </button>
      <div class="card  " id="section-5-card-4">
        <p class="card__paragraph">
          В конце каждой темы вам будет предложено пройти тест, составленный авторами курса.
          Следующая тема будет недоступна для изучения, пока не будет успешно пройден тест по предыдущей теме.
          Успешным прохождением теста считается правильное выполнение более 75% заданий.
          У вас будет 3 попытки для прохождения каждого теста.
          Завершением обучения считается успешное прохождение тестов по всем темам курса.
        </p>
      </div>
    </div>

    <div class="list__item ">
      <button class="list__btn " data-content="section-5-card-5">Документ об обучении</button>
      <div class="card  " id="section-5-card-5">
        <p class="card__paragraph">
          После завершения обучения и успешного прохождения тестирования по всем темам вы получите удостоверение о
          повышении квалификации.
        </p>
      </div>
    </div>

    <div class="list__item ">
      <button class="list__btn " data-content="section-5-card-6">Доступ к материалам </button>
      <div class="card  " id="section-5-card-6">
        <p class="card__paragraph">
          Доступ к материалам курса предоставляется на период его освоения (на срок обучения). Для закрепления
          полученных знаний доступ к материалам курса сохранится еще на 12 месяцев после успешного завершения
          обучения.
        </p>
      </div>
    </div>
  </div>
</section>
