<header class="page-header">
  <div class="page-wrapper">
    <div class="page-header__content">
      <div class="page-header__logo">
        <a class="page-header__logo-link" href="/">
          <img src="/img/icon-lf.svg" alt="" class="page-header__logo-img">
        </a>
      </div>
      //= main-nav.html
      <button class="page-header__humburger hamburger" type="button" title="Главное меню">
        <span class="hamburger__line"></span>
      </button>
    </div>
  </div>
</header>
