<section class="intro" id="intro">
  <div class="intro__description">
    <span class="intro__type">
      Авторский курс Рустема Мифтахутдинова и Олега Зайцева
    </span>
    <h1 class="intro__header">Банкротство: от доктрины до судебной практики. Системный анализ</h1>
    <div class="intro__text user-content">
      <p>
          Комплексное исследование наиболее важных институтов банкротного права и актуальных проблем, с которыми чаще всего сталкиваются практикующие юристы при разрешении споров в рамках банкротного дела.
      </p>
    </div>
  </div>

  <section class="intro__info-list info-list">
    <article class="info-item">
      <span class="info-item__name">Объем курса</span>
      <span class="info-item__count">37</span>
      <span class="info-item__description">Академических часов</span>
    </article>

    <article class="info-item">
      <span class="info-item__name">Количество лекций</span>
      <span class="info-item__count">69</span>
      <span class="info-item__description">Онлайн-лекции</span>
    </article>

    <article class="info-item">
      <span class="info-item__name">Документ</span>
      <span class="info-item__description"><span class="word-wrap"> Удостоверение</span> <span
          class="word-wrap">о повышении </span> квалификации</span>
    </article>

    <article class="info-item">
      <span class="info-item__name">Стоимость</span>
      <div class="info-item__count-wrapper">
        <span class="info-item__count">20000 ₽</span>
      </div>
    </article>
  </section>
</section>
