<nav class="main-nav">
  <div class="main-nav__inner">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a class="main-nav__link " href="#about">О Курсе</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link " href="#programme">Программа курса</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link " href="#authors">Авторы</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link " href="#recommend">Для кого</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link " href="#format">Формат обучения</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link " href="#faq">Есть вопросы?</a>
      </li>
    </ul>
    <a href="#buy" class="button main-nav__button">
      Купить курс
    </a>
  </div>
</nav>
