<div class="modal modal--questions">
  <div class="modal__content">
    <span class="modal__close-button">&times;</span>
    <h2 class="modal__header">Часто задаваемые вопросы</h2>
    <div class="list list--question-modal">
      <div class="list__item list__item--without-borders">
        <button class="list__btn list__btn--active" data-content="modal-card-1">Как оплатить курс?</button>
        <div class="card card--question-modal card--show" id="modal-card-1">
          <ul>
            <li>Перейдите в раздел «Покупка курса»
            </li>
            <li>Подтвердите выбор курса</li>
            <li>Введите данные своей учетной записи или пройдите регистрацию на сайте LF Академия
            </li>
            <li>Подтвердите согласие с офертой и перейдите к оплате, нажав кнопку «Купить». После этого Вы будете
              переведены
              на страницу платежной системы</li>
          </ul>
        </div>
      </div>
      <div class="list__item">
        <button class="list__btn" data-content="modal-card-2">Как строится процесс обучения?</button>
        <div class="card card--question-modal" id="modal-card-2">
          <p class="card__paragraph">Обучение осуществляется дистанционно. Особенностями курса являются модульная
            структура и применение современных образовательных технологий: электронного обучения, учебного видео,
            компьютерного тестирования. Доступ к обучению: 24/7 из любой точки мира с любого электронного устройства,
            подключенного к сети Интернет
          </p>
        </div>
      </div>
      <div class="list__item">
        <button class="list__btn" data-content="modal-card-3">Можно ли сохранить доступ к материалам курса после
          завершения обучения?</button>
        <div class="card card--question-modal" id="modal-card-3">
          <p class="card__paragraph">
            Доступ к материалам курса предоставляется на 2 месяца с начала обучения
          </p>
        </div>
      </div>
      <div class="list__item">
        <button class="list__btn" data-content="modal-card-4">Могу ли я на время приостановить обучение?</button>
        <div class="card card--question-modal" id="modal-card-4">
          <p class="card__paragraph">Приостановить обучение можно не более одного раза за весь период обучения. Для
            этого вам необходимо отправить соответствующий запрос на электронную почту account@lfacademy.ru. Подробнее
            с условиями приостановления обучения можно ознакомиться <a href="https://lfacademy.ru/at/1531056" target="_blank">здесь</a>
          </p>
        </div>
      </div>
      <div class="list__item">
        <button class="list__btn" data-content="modal-card-5">У меня остались вопросы. Как с вами связаться?</button>
        <div class="card card--question-modal" id="modal-card-5">
          <p class="card__paragraph">По всем вопросам, связанным с обучением в Учебном центре LF Академия вы можете
            обратиться по адресу электронной почты <a href="mailto:account@lfacademy.ru" target="_blank">account@lfacademy.ru</a>
            или по телефону +7 (812) 449-36-21
          </p>
        </div>
      </div>
    </div>
  </div>
</div>