<section class="presentation page-section">
    <h2 class="presentation__header">Три формата подачи материала</h2>
    <div class="features presentation__formats">
        <div class="feature feature--video ">
            <span class="features__name">Видео</span>
            <span class="features__description">Создает эффект
                личного контакта с лектором</span>
        </div>
        <div class="feature feature--audio">
            <span class="features__name">Аудио</span>
            <span class="features__description">Позволяет не отрываться от учебы
                на беговой дорожке и в автомобильной пробке</span>
        </div>
        <div class="feature feature--text">
            <span class="features__name">Текст</span>
            <span class="features__description">Помогает тем, кто не любит воспринимать
                информацию на слух</span>
        </div>
    </div>
</section>