<section class="programme page-section" id="programme">
    <h2 class="programme__header">Программа курса</h2>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 1 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Основные положения о&nbsp;банкротстве, принципы и&nbsp;критерии банкротства </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">2,75&nbsp;АК. ЧАС.&nbsp;/ 8&nbsp;ОНЛАЙН-ЛЕКЦИИ </span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time">1,25&nbsp;АК. ЧАС.</span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> Приступая к&nbsp;изучению банкротного права, необходимо получить общее представление о&nbsp;его целях,
          принципах и основных понятиях. Рустем Тимурович Мифтахутдинов излагает наиболее фундаментальные вопросы
          банкротства, уделяя внимание истории института, его взаимосвязи с&nbsp;исполнительным производством
          и&nbsp;конструкциями обязательственного права, а&nbsp;также дает характеристику основным участникам
          банкротного процесса и анализирует общую схему его развития. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title">Цели банкротного права. Модели законодательства о&nbsp;банкротстве</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title">Принципы банкротного права</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Признаки и&nbsp;критерии несостоятельности. Неплатежеспособность и
            недостаточность имущества</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">4</span>
          <div class="accordion__module-title">Общая характеристика субъектов банкротного права (лица, участвующие в
            деле о&nbsp;банкротстве и&nbsp;лица, участвующие в&nbsp;процессе по&nbsp;банкротству, заинтересованные лица)
          </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">5</span>
          <div class="accordion__module-title">Реабилитационные и&nbsp;ликвидационные процедуры</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">6</span>
          <div class="accordion__module-title">Принятие решения по&nbsp;делу о&nbsp;банкротстве. Монополия кредиторов
            или решение суда (cram down)</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">7</span>
          <div class="accordion__module-title">Общая схема развития банкротного процесса</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">8</span>
          <div class="accordion__module-title">Отличие института банкротства от&nbsp;исполнительного производства. Общие
            положения о&nbsp;конкурсном и&nbsp;внеконкурсном оспаривании сделок должника и&nbsp;ответственности
            контролирующих должника лиц как важнейших правовых инструментов банкротного права</div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 2 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Возбуждение дела о&nbsp;банкротстве и&nbsp;введение первой процедуры банкротства
        </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">2,25&nbsp;АК. ЧАС.&nbsp;/ 5&nbsp;ОНЛАЙН-ЛЕКЦИИ</span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time"> 1&nbsp;АК. ЧАС.</span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> Принятие Федерального закона &laquo;О&nbsp;несостоятельности (банкротстве)&raquo; от&nbsp;26.10.202&nbsp;N
          127-ФЗ ознаменовало выбор &laquo;прокредиторской&raquo; модели банкротного процесса. Подобный подход,
          подразумевающий низкую активность суда при рассмотрении дел о&nbsp;банкротстве, привел к&nbsp;появлению
          многочисленных практических проблем, связанных с недобросовестными действиями кредиторов. Рустем Тимурович
          Мифтахутдинов концентрирует внимание на несовершенствах законодательства, посвященного этапу возбуждения дела
          о&nbsp;банкротстве. Лектор подробно разбирает наиболее оригинальные правовые позиции, выработанные высшими
          судебными инстанциями, которые направлены на снижение злоупотреблений в&nbsp;рамках конкуренции заявлений
          о&nbsp;признании должника банкротом. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title"> Лица, имеющие право на&nbsp;подачу заявления о&nbsp;банкротстве</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title"> Размер и&nbsp;состав денежных обязательств и&nbsp;обязательных платежей,
            необходимых для инициирования дела о&nbsp;банкротстве. Порядок и&nbsp;условия инициирования банкротства
            кредитором. Подтверждение требований кредитора судебным актом. Минимальный размер требования кредитора</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Возбуждение дела о&nbsp;банкротстве. Конкуренция заявлений
            о&nbsp;признании должника банкротом (несколько заявителей по&nbsp;делу о&nbsp;банкротстве). Проверка
            обоснованности заявления о&nbsp;признании должника банкротом. Часть I </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">4</span>
          <div class="accordion__module-title"> Возбуждение дела о&nbsp;банкротстве. Конкуренция заявлений
            о&nbsp;признании должника банкротом (несколько заявителей по&nbsp;делу о&nbsp;банкротстве). Проверка
            обоснованности заявления о&nbsp;признании должника банкротом. Часть II </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">5</span>
          <div class="accordion__module-title">Должник как инициатор дела о&nbsp;банкротстве. Обязанность и&nbsp;право
            должника подать заявление о&nbsp;банкротстве </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 3 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Классификация кредиторов (требований кредиторов) и&nbsp;реестр требований
          кредиторов </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">3&nbsp;АК. ЧАС.&nbsp;/ 9&nbsp;ОНЛАЙН-ЛЕКЦИИ </span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time"> 1,75&nbsp;АК. ЧАС. </span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> В&nbsp;законе &laquo;О&nbsp;несостоятельности (банкротстве)&raquo; кредиторы должника подразделяются
          на&nbsp;определенные категории. Такое деление имеет практическое значение. Разделяя кредиторов
          на&nbsp;определенные виды, законодатель стремится достичь наиболее справедливого распределения ограниченных
          средств должника-банкрота между кредиторами. Олег Романович Зайцев предлагает обсудить наиболее значимые
          вопросы классификации кредиторов в&nbsp;рамках процедуры банкротства и&nbsp;с&nbsp;учетом процессуальных
          особенностей той или иной категории кредиторов рассмотреть порядок включения требований в&nbsp;реестр. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title"> Установление требований кредиторов (включение в&nbsp;реестр)</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title"> Классификация кредиторов (требований). Понятие конкурсного кредитора и
            его отличие от&nbsp;иных кредиторов</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Правовое положение залогового кредитора </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">4</span>
          <div class="accordion__module-title"> Правовое положение неденежных кредиторов </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">5</span>
          <div class="accordion__module-title">Правовое положение текущих кредиторов </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">6</span>
          <div class="accordion__module-title">Правовое положение привилегированных кредиторов. Не&nbsp;включаемые
            в&nbsp;реестр требования кредиторов (опоздавшие кредиторы, кредиторы из&nbsp;участия) </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">7</span>
          <div class="accordion__module-title">Реестр требований кредиторов (форма, образец, порядок ведения, доступ к
            реестру) </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">8</span>
          <div class="accordion__module-title">Возражение против требования кредиторов, в&nbsp;том числе подтвержденных
            судебным актом. Основания для отказа во&nbsp;включении в&nbsp;реестр </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">9</span>
          <div class="accordion__module-title">Установление требований в&nbsp;процедурах наблюдения, финансового
            оздоровления, внешнего управления и&nbsp;конкурсного производства. Проблематика установления требований
            ликвидируемого должника</div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 4 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Арбитражный управляющий как особый субъект отношений банкротства </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">2,5&nbsp;АК. ЧАС.&nbsp;/ 8&nbsp;ОНЛАЙН-ЛЕКЦИЙ </span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time"> 1&nbsp;АК. ЧАС. </span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> В&nbsp;соответствии с&nbsp;Федеральным законом &laquo;О&nbsp;несостоятельности (банкротстве)&raquo;
          центральной фигурой, обеспечивающей реализацию процедур банкротства, является арбитражный управляющий. Как
          развивался институт арбитражного управляющего в&nbsp;российском банкротном праве? Какие особенности правового
          статуса арбитражного управляющего имеются на&nbsp;сегодняшний день? По&nbsp;каким параметрам следует выбирать
          арбитражного управляющего для ведения процедуры банкротства? Как назначается арбитражный управляющий
          в&nbsp;банкротном деле, и&nbsp;какими полномочиями обладает последний при ведении процедуры несостоятельности
          (банкротства)? На&nbsp;эти и&nbsp;другие вопросы отвечает эксперт в&nbsp;области гражданского права
          и&nbsp;несостоятельности (банкротства) Рустем Тимурович Мифтахутдинов. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title"> Особенности правового статуса арбитражного управляющего: история
            развития института, требования к&nbsp;арбитражному управляющему. Часть I</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title"> Особенности правового статуса арбитражного управляющего: история
            развития института, требования к&nbsp;арбитражному управляющему. Часть II</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Получение информации об&nbsp;арбитражном управляющем
            и&nbsp;о&nbsp;саморегулируемой организации арбитражных управляющих </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">4</span>
          <div class="accordion__module-title"> Утверждение арбитражного управляющего: исторический аспект, модели
            назначения арбитражного управляющего </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">5</span>
          <div class="accordion__module-title">Утверждение арбитражного управляющего в&nbsp;процедуре наблюдения</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">6</span>
          <div class="accordion__module-title">Права и&nbsp;обязанности арбитражного управляющего</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">7</span>
          <div class="accordion__module-title">Утверждение арбитражного управляющего в&nbsp;иных процедурах</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">8</span>
          <div class="accordion__module-title">Обзор актуальной судебной практики по&nbsp;вопросам утверждения
            арбитражного управляющего</div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 5 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Процедура наблюдения </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">2,5&nbsp;АК. ЧАС.&nbsp;/ 9&nbsp;ОНЛАЙН-ЛЕКЦИИ </span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time">1&nbsp;АК. ЧАС. </span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> Процедура наблюдения сегодня подвергается критике. Многочисленные исследователи отмечают, что наблюдение
          является неэффективным правовым институтом, излишне обременяющим субъектов банкротных отношений. Действительно
          ли&nbsp;процедуре наблюдения нет места в&nbsp;российском правопорядке в&nbsp;качестве процедуры &laquo;единого
          входа&raquo;? Рустем Тимурович Мифтахутдинов раскрывает проблематику процедуры наблюдения, анализируя
          соответствие действующих правовых механизмов преследуемым целям и&nbsp;задачам. Поэтапно рассказывается
          об&nbsp;основных акторах процедуры наблюдения. Лектор сосредотачивает внимание на&nbsp;содержании главных
          правовых институтов в&nbsp;интерпретации их судебной практикой. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title">Цели и&nbsp;задачи процедуры наблюдения</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title"> Последствия введения процедуры наблюдения. Автоматическое
            приостановление</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Анализ финансового состояния должника</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">4</span>
          <div class="accordion__module-title"> Собрание кредиторов. Полномочие собрания кредиторов. Выбор
            реестродержателя </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">5</span>
          <div class="accordion__module-title">Порядок созыва первого собрания кредиторов (уведомление
            о&nbsp;проведении) и созыв собрания кредиторов. Обжалование решений собраний кредиторов</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">6</span>
          <div class="accordion__module-title">Комитет кредиторов. Порядок образования и&nbsp;полномочия. Порядок работы
            (принятие решений) комитета кредиторов</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">7</span>
          <div class="accordion__module-title">Решения, принимаемые собранием кредиторов</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">8</span>
          <div class="accordion__module-title">Последствия непринятия решения. Последствия невозможности проведения
            собрания кредиторов</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">9</span>
          <div class="accordion__module-title"> Порядок назначения арбитражного управляющего на&nbsp;следующую процедуру
            банкротства. Определение дополнительных требований к&nbsp;кандидатурам административного управляющего,
            внешнего управляющего, конкурсного управляющего </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 6 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Процедура финансового оздоровления </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">1&nbsp;АК. ЧАС.&nbsp;/ 4&nbsp;ОНЛАЙН-ЛЕКЦИИ </span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time">0,5&nbsp;АК. ЧАС. </span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> Олег Романович Зайцев анализирует наименее распространенную в&nbsp;российской практике реабилитационную
          процедуру, применяемую в&nbsp;деле о&nbsp;банкротстве юридических лиц&nbsp;&mdash; финансовое оздоровление.
          Обсуждаются вопросы введения и&nbsp;досрочного прекращения процедуры, требования к&nbsp;содержанию документов,
          регламентирующих финансовое оздоровление,&nbsp;&mdash; графику погашения задолженности и&nbsp;плану
          финансового оздоровления. Анализируется статус административного управляющего, его взаимодействие
          с&nbsp;органами управления должника. Лектор уделяет внимание проблемам, не&nbsp;нашедшим ответа
          в&nbsp;судебной практике. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title">Введение процедуры финансового оздоровления</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title"> План финансового оздоровления и&nbsp;график погашения задолженности
          </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Последствия введения процедуры финансового оздоровления. Досрочное
            прекращение финансового оздоровления</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">4</span>
          <div class="accordion__module-title"> Административный управляющий</div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 7 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Процедура внешнего управления </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">0,75&nbsp;АК. ЧАС.&nbsp;/ 3&nbsp;ОНЛАЙН-ЛЕКЦИИ </span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time"> 0,5&nbsp;АК. ЧАС. </span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> Олег Романович Зайцев дает характеристику ключевым особенностям реабилитационной процедуры внешнего
          управления. Лектор заостряет внимание на&nbsp;последствиях введения процедуры, на&nbsp;вопросах распределения
          полномочий между утверждаемым судом внешним управляющим и&nbsp;органами управления должника, в&nbsp;том числе
          полномочиям по совершению различного рода сделок. Анализируется план внешнего управления&nbsp;&mdash; одна
          из&nbsp;разновидностей реабилитационного плана. Из&nbsp;числа мер по&nbsp;восстановлению платежеспособности
          должника юрист выделяет две, которые позволяют продолжить ведение бизнеса: продажа предприятия
          и&nbsp;замещение активов должника. Рассказывая о внешнем управлении, Олег Романович Зайцев сравнивает его
          с&nbsp;другими процедурами в&nbsp;деле о&nbsp;банкротстве. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title"> Последствия введения внешнего управления. Внешний управляющий</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title"> План внешнего управления. Расчеты с&nbsp;кредиторами</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Продолжение бизнеса в&nbsp;процедуре банкротства </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 8 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Конкурсное производство </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">3&nbsp;АК. ЧАС.&nbsp;/ 7&nbsp;ОНЛАЙН-ЛЕКЦИИ </span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time"> 1,5&nbsp;АК. ЧАС. </span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> Федеральный закон &laquo;О&nbsp;несостоятельности (банкротстве)&raquo; предусматривает определенные
          последствия открытия конкурсного производства, порядок последовательных действий, применяемых
          к&nbsp;должнику-банкроту и&nbsp;меры по обеспечению соразмерного удовлетворения требований кредиторов. Рустем
          Тимурович Мифтахутдинов рассказывает о специфике процедуры конкурсного производства, разбирает основные
          проблемы применения законодательства о банкротстве и&nbsp;дает практические рекомендации по&nbsp;повышению
          эффективности проведения конкурсного производства. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title"> Последствия открытия конкурсного производства: прекращение полномочий
            органов управления должника, предъявление требований кредиторов к&nbsp;должнику-банкроту </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title"> Последствия открытия конкурсного производства: снятие арестов на
            имущество должника и&nbsp;иные ограничения распоряжения имуществом должника, утверждение конкурсного
            управляющего, передача документов, печатей штампов и&nbsp;имущества банкрота управляющему</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Последствия открытия конкурсного производства: публикация сообщения о
            введении конкурсного производства в&nbsp;СМИ, инвентаризация имущества должника. Формирование конкурсной
            массы </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">4</span>
          <div class="accordion__module-title"> Субординация займов участников (акционеров) должника</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">5</span>
          <div class="accordion__module-title">Продажа имущества должника. Полномочия кредиторов при оценке имущества
            должника</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">6</span>
          <div class="accordion__module-title">Замещение активов должника в&nbsp;ходе конкурсного производства.
            Очередность и пропорциональность удовлетворения требований. Начисление процентов на&nbsp;сумму требований
            конкурсного кредитора </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">7</span>
          <div class="accordion__module-title">Отчет о&nbsp;конкурсном производстве, определение о&nbsp;завершении
            конкурсного производства и&nbsp;ликвидации юридического лица. Имущество должника, оставшееся после
            завершения расчетов с кредиторами. Обнаружение активов после завершения дела о&nbsp;банкротстве. Обжалование
            конкурсным кредитором действий конкурсного управляющего</div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 9 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Мировое соглашение </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">1&nbsp;АК. ЧАС.&nbsp;/ 3&nbsp;ОНЛАЙН-ЛЕКЦИИ </span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time"> 0,5&nbsp;АК. ЧАС. </span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> Олег Романович Зайцев всесторонне освещает вопросы, связанные с&nbsp;заключением, содержанием
          и&nbsp;расторжением мирового соглашения. Условия мирового соглашения рассматриваются с&nbsp;точки зрения
          перспектив последующего оспаривания определения арбитражного суда об&nbsp;утверждении мирового соглашения.
          Также лектор рассказывает, каким образом кредиторы могут защитить свои права, если мировое соглашение
          не&nbsp;исполняется. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title"> Особенности заключения и&nbsp;участники мирового соглашения</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title"> Условия и&nbsp;последствия утверждения мирового соглашения судом.
            Содержание мирового соглашения</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Расторжение мирового соглашения. Права кредитора в&nbsp;случае
            неисполнения мирового соглашения </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 10 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Недействительность сделок должника. Конкурсное оспаривание </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">2&nbsp;АК. ЧАС.&nbsp;/ 7&nbsp;ОНЛАЙН-ЛЕКЦИИ </span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time"> 1&nbsp;АК. ЧАС. </span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> Институт оспаривания сделок несостоятельного должника является одним из&nbsp;самых развитых институтов
          в&nbsp;российском банкротном праве. Действующим законодательством и&nbsp;сложившейся судебной практикой
          выработаны основные принципы и&nbsp;правила признания недействительными сделок должника в&nbsp;банкротстве.
          Олег Романович Зайцев освещает основные проблемы процедуры оспаривания должника-банкрота и&nbsp;приводит
          судебную практику по&nbsp;обозначенной теме. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title"> Внеконкурсное оспаривание (Actio Pauliana)</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title"> Соотношение конкурсного и&nbsp;внеконкурсного оспаривания. Лица, имеющие
            право оспаривания сделок должника</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Виды конкурсного оспаривания: фраудаторные и&nbsp;преференциальные сделки
          </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">4</span>
          <div class="accordion__module-title"> Сделки с&nbsp;неравноценным встречным предоставлением </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">5</span>
          <div class="accordion__module-title">Сделки, совершенные в&nbsp;целях причинения вреда имущественным интересам
            кредиторов</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">6</span>
          <div class="accordion__module-title">Сделки с&nbsp;предпочтением: недобросовестность кредитора и&nbsp;обычная
            хозяйственная деятельность</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">7</span>
          <div class="accordion__module-title">Рассмотрение иска о&nbsp;признании сделки недействительной, доказывание
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion__inner">
      <div class="accordion__number"> 11 </div>
      <div class="accordion__header">
        <h4 class="accordion__title"> Субсидиарная ответственность при банкротстве и&nbsp;иные способы привлечения
          к&nbsp;ответственности контролирующих лиц </h4>
        <div class="accordion__info">
          <div class="accordion__info-column"> <span class="accordion__info-header">Продолжительность</span> <span
              class="accordion__info-time">4&nbsp;АК. ЧАС.&nbsp;/ 6&nbsp;ОНЛАЙН-ЛЕКЦИИ </span> </div>
          <div class="accordion__info-column"> <span class="accordion__info-header">Самостоятельная работа&nbsp;/
              тест</span> <span class="accordion__info-time"> 2,25&nbsp;АК. ЧАС. </span> </div>
        </div>
      </div>
    </div>
    <div class="accordion__content">
      <div class="accordion__content-title"> Описание: </div>
      <div class="accordion__text user-content">
        <p> Субсидиарная ответственность контролирующих должника лиц при банкротстве представляет собой развитие
          доктрины &laquo;прокалывания корпоративной вуали&raquo;, которая была воспринята российском правопорядком,
          и&nbsp;представляет собой один из&nbsp;основных инструментов защиты прав кредиторов в&nbsp;деле
          о&nbsp;банкротстве. Рустем Тимурович Мифтахутдинов раскрывает все ключевые изменения института субсидиарной
          ответственности контролирующих должника лиц, внесенные в&nbsp;Закон о&nbsp;банкротстве Федеральным законом
          от&nbsp;29.7.217 &#8470;&nbsp;266-ФЗ, а&nbsp;также рассматривает историю развития данного института
          и&nbsp;тенденции судебной практики. Новеллы анализируются в&nbsp;сравнении с&nbsp;ранее действовавшим
          регулированием. Помимо законодательных положений, лектор уделяет внимание комментарию разъяснений положений
          главы III.2 Закона о&nbsp;банкротстве. </p>
      </div>
      <div class="accordion__content-title"> Содержание: </div>
      <div class="accordion__modules">
        <div class="accordion__module"> <span class="accordion__module-number">1</span>
          <div class="accordion__module-title"> Понятие и&nbsp;виды ответственности</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">2</span>
          <div class="accordion__module-title"> Понятие контролирующего лица. Соучастие в&nbsp;причинение вреда.
            Номинальные руководители</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">3</span>
          <div class="accordion__module-title">Субсидиарная ответственность за&nbsp;невозможность полного погашения
            требования, особенности рассмотрения иска, презумпции </div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">4</span>
          <div class="accordion__module-title"> Субсидиарная ответственность и&nbsp;взыскание убытков, соотношение</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">5</span>
          <div class="accordion__module-title">Субсидиарная ответственность за&nbsp;неподачу заявления о&nbsp;признании
            должника банкротом</div>
        </div>
        <div class="accordion__module"> <span class="accordion__module-number">6</span>
          <div class="accordion__module-title">Порядок привлечения конкурсным кредитором руководителя, участников
            компании и&nbsp;других контролирующих лиц к&nbsp;субсидиарной ответственности. Порядок исполнения судебного
            акта о привлечении к&nbsp;субсидиарной ответственности</div>
        </div>
      </div>
    </div>
  </div>
</section>
