<section class="recommend page-section" id="recommend">
  <h2 class="recommend__header">Кому рекомендован этот курс</h2>
  <div class="recommend__description user-content">
    <p>Курс рекомендован для юристов, представляющих в судах интересы кредиторов в делах о банкротстве , арбитражным
      управляющим при конкурсном оспаривании сделок должника, представителям уполномоченных органов, участвующих в делах
      о банкротстве, а также владельцам бизнеса, желающим узнать о возможности применения реабилитационных процедур в
      деле о банкротстве.</p>
  </div>

  <div class="recommend__list">
    <div class="accordion accordion--secondary accordion--secondary-lamp recommend__item">
      <div class="accordion__inner selected">
        <div class="accordion__header">
          <h4 class="accordion__title">
            В чем особенность курса?
          </h4>
        </div>
      </div>
      <div class="accordion__content">
        <div class="accordion__text user-content">
          <p>Курс содержит информацию о целях, принципах и основных понятиях банкротного права, о важных особенностях
            этапа возбуждения дела о банкротстве, а также дает представление о сложностях и практических проблемах
            процедуры наблюдения и конкурсного производства в банкротстве.</p>
        </div>
      </div>
    </div>
    <div class="accordion accordion--secondary accordion--secondary-trophy recommend__item">
      <div class="accordion__inner selected">
        <div class="accordion__header">
          <h4 class="accordion__title">
            Какие знания и навыки слушатель получит после прохождения курса?
          </h4>
        </div>
      </div>
      <div class="accordion__content">
        <div class="accordion__text user-content">
          <p>Полученные знания помогут успешно справляться с задачей установления требований кредиторов в деле о
            банкротстве, разбираться в правовом положении различных групп кредиторов, эффективно оспаривать сделки
            должника и не теряться в тонкостях применения реабилитационных процедур.
            Кроме того, прохождение курса поможет эффективно контролировать действия арбитражного управляющего в деле о
            банкротстве и привлекать к ответственности лиц, контролирующих деятельность должника – банкрота.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>