html
  height: 100%
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  height: 100%
  -webkit-overflow-scrolling: touch
  background-color: #000
  color: #fff
  font-family: $geometria
  -webkit-font-smoothing: antialiased

.no-scroll
  position: fixed
  overflow: hidden

.user-content
  p
    margin: 0
    margin-bottom: 1em
    &:last-child
      margin-bottom: 0
  ul
    margin: 0
  a
    color: $red
    &:hover,
    &:focus
      color: darken($red, 10%)


.word-wrap
  display: block
  &--only-mobile
    display: inline

.show-mobile
  display: none

.show-desktop
  display: inherit

.no-scroll
  overflow: hidden

@media #{$tablet-widths}
  .word-wrap
    display: block
    &--only-mobile
      display: block

  .show-mobile
    display: block

  .show-desktop
    display: none
